{% extends '_base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Home Page</h1>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <p>Welcome <b>{{ user.username }}</b>
                <button type="submit" class="btn btn-warning">Logout</button>
                <a href="{% url 'password_change' %}" class="btn btn-primary">change password</a>
            </p>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Log In</a> | <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <a href="{% url 'book_list' %}" class="btn btn-primary">کتاب ها</a>
{% endblock %}