{% extends '_base.html' %}
{% load static %}
{% block title %}کتاب {{ book.title }}{% endblock %}
{% block content %}
    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div>
                                {% if book.book_cover %}
                                    <img src="{{ book.book_cover.url }}"
                                         class="img-fluid rounded-start shadow" alt="...">
                                {% else %}
                                    <img src="{% static 'icons/default_book_cover.svg' %}"
                                         class="img-fluid rounded-start" alt="...">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h1>{{ book.title }}</h1>
                            <h5 class="small my-1"><span class="text-muted">نویسنده: </span>{{ book.author }}</h5>
                            <a href="{% url 'home' %}" class="btn btn-outline-light mt-3">برگشت</a>
                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                {{ book.price }} تومان
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">{{ book.description|linebreaks }}</div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">نظرات:</h2>
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="card shadow border-bottom mb-3">
                                    <h5 class="mx-2"><span class="text-info-emphasis">{{ comment.user.username }}</span></h5>
                                    <p class="mx-2">{{ comment.text|linebreaks }}</p>
                                </div>
                            {% endfor %}
                            {% else %}
                            <h4 class="text-info-emphasis">هنوز نظری ثبت نشده است</h4>
                        {% endif %}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h3>نظر خود را وارد کنید:</h3>
                        {% if user.is_authenticated %}
                            <form method="POST">
                                <div class="form-group py-2">
                                    <label class="py-1" for="author_name">نام شما:</label>
                                    {% if user.is_authenticated %}
                                        <input type="text" class="form-control" placeholder="{{ user.username }}" name="author_name">
                                    {% endif %}
                                </div>
                                <div class="form-group py-2">
                                    <label class="py-1" for="email">ایمیل شما:</label>
                                    <input type="email" class="form-control" placeholder="example@gmail.com" name="email">
                                </div>
                                <div class="form-group py-2">
                                    <label class="py-1" for="comment_text">متن نظر:</label>
                                    <textarea class="form-control" name="text" rows="3"
                                              placeholder="نظر خود را اینجا وارد کنید."></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </form>
                        {% else  %}
                            <p><span class="text-danger"> قبل از ارسال نظر وارد اکانت خودتون بشید! </span><a href="{% url 'login' %}">ورود به اکانت</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}